body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: #ffffff;
}
body::-webkit-scrollbar {
    height: 0em;
    width: 0.3vw;
  }
   
body::-webkit-scrollbar-track {
  }
   
body::-webkit-scrollbar-thumb {
    border-radius: 3.5vw;  
    background-color: rgb(22, 53, 100);
  }

.wrap{
    display: flex;
    flex-direction: column;
    padding-left: 12vw;
    padding-bottom: 7vw;
}
.nav{
width: 80vw;
display: flex;
justify-content: flex-end;
}
.nav-button{
    background: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    font-size: 0.9vw;
    border-radius: 0.5vw;
    margin-top: 1.4vw;
    text-decoration: none;
    border: 0px;
    padding: 1.2vw 2vw;
}
.nav-button:hover{
    background: linear-gradient(to top,rgb(63, 63, 63),rgb(36, 36, 36));
}
.landing{
    display: flex;
    flex-direction: row;
}


.counter{
    margin-top: 6vw;
    
}
.counter-title{
    color: #000000;
    font-size: 4vw;
    font-weight: 800;
    margin: 0vw;
}
.counter-desc{
    color: #A9A9A9;
    margin: 0vw;
    font-size: 1.1vw;
    margin-top: 1vw;
    margin-bottom: 3.4vw;
    width: 20vw;
    line-height: 2.7vw;
    font-weight: 400;
}
.counter-button{
    background: #5774dd;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1vw;
    text-decoration: none;
    border-radius: 0.65vw;
    margin-top: 3vw;
    border: 0px;
    padding: 1.2vw 2vw;
    transition: 0.3s all;
}
.counter-button:hover{
    background: #2747b8;
}
.land-anim{
    margin-top: 7vw;
    margin-left: 16vw;
}
.land-img{
    width: 40vw;
}

.tab{
    margin-top: 5vw;
    display: block;
}
.tab-title{
    background: #FFAAAA;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-size: 0.8vw;
    border-radius: 0.35vw;
    margin-top: 3vw;
    border: 0px;
    padding: 0.3vw 0.8vw;
}
.tab-code{
    width: 33vw;
    background: #212542;
    font-family: 'Roboto Mono', monospace;
    line-height: 2vw;
    color: #FFF;
    font-weight: 400;
    margin-top: 1vw;
    padding: 2.25vw;
    padding-left:3.2vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}
.tab-in{
    width: 28vw; 
    padding: 1vw 2.5vw;
}

.tab-pre
{
    margin-top: 1vw;
    width: 37.45vw;
    height: 18vw;
    border-radius: 0.6vw;
    background: #FFF;
    box-shadow: 0px 0px 20px #eeeeee;
}

.pn{
    color: #F982F2;
}.lb{
    color: #93D7FF;
}.or{
    color: #FFA04E;
}.db{
    color: #82A2F9;
}.yl{
    color: #F8F879;
}.gr{
    color: #82F9A1;
}
.tl-1{
    margin-left: 2vw;
}
.tl-2{
    margin-left: 4vw;
}

.contact{
    margin-top: 12vw;
    margin-bottom: 7vw;
}
.ct-text{
    margin: 0vw;
    font-weight: 400;
    color: #9B9B9B;
}
.ct-title{
    margin: 0vw;
    margin-top: 1vw;
    font-size: 2vw;
    color: rgb(56, 56, 56);
}