.searchbar{
    padding: 1.2vw 2.5vw;
    border: 0px;
    padding-bottom: 1.4vw;
    display: flex;
    align-items: center;
    width: 26vw;
    background: #f7f7f7;
    font-size: 1.2vw;
    border-radius: 0.8vw;
    border:solid #f7f7f7  1px;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0vw 0vw 00px #dfdfdf;
    outline: none;
    transition: 0.3s all;
  }
  .searchbar:focus{
    border:solid #4b98e0  1px;
    border-radius: 0.7vw;
    background: #ffffff;
  } 
  .searchbar::placeholder{
    color: #3f3f3f;
  }
  .searchlist{
    color: #444444;
    width: 28vw;
    margin-left: 1.5vw;
    font-size: 1vw;
    position: absolute;
    border-radius:0vw 0vw 0.4vw 0.4vw;
    background: #fafafa;
    padding: 0vw 0vw;
  }
  .searchitem{
    padding: 1vw 0vw;
    cursor: pointer;
    width: 24vw;
    margin: 1vw 2vw;
    border-radius: 0.4vw;
    transition: 0.6vw all;
  }
  .searchitem:hover{
  color: rgb(41, 41, 41);
  background: #c0e2ff;
  }